.desktop-3-child {
  position: absolute;
  top: 24px;
  left: 860px;
  background-color: var(--color-gainsboro);
  width: 213px;
  height: 71px;
}
.desktop-3-item {
  position: absolute;
  top: 599px;
  left: 940px;
  border-radius: 8.63px;
  width: 407px;
  height: 77px;
}
.our-mission,
.welcome-to-our {
  position: absolute;
  left: 63px;
  display: inline-block;
}
.welcome-to-our {
  border: 0;
  background-color: transparent;
  font-family: var(--font-dm-sans);
  font-size: 32px;
  top: 212px;
  font-weight: 700;
  color: var(--color-black);
  text-align: left;
  width: 1222px;
  height: 749px;
}
.our-mission {
  top: 62px;
  width: 1020.54px;
  height: 150px;
  -webkit-text-stroke: 2.7px #000;
}
.banner-20th-july-1 {
  position: absolute;
  top: 567px;
  left: 245px;
  width: 803px;
  height: 350px;
  object-fit: cover;
}
.ecoplasticx1,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.ecoplasticx1 {
  top: 0;
  left: 0;
  background-color: var(--color-mistyrose);
  width: 1488px;
  height: 1076px;
}
.vector-icon1 {
  height: 3.32%;
  width: 1.71%;
  top: 16.8%;
  right: 3.15%;
  bottom: 79.88%;
  left: 95.14%;
  max-width: 100%;
  max-height: 100%;
}
.desktop-3 {
  position: relative;
  border-radius: 14.39px;
  background-color: var(--color-mistyrose);
  width: 100%;
  height: 980px;
  overflow: hidden;
  text-align: left;
  font-size: 96.43px;
  color: #4b4093;
  font-family: var(--font-fresca);
}
